<ion-content class="backgroundImage">
    <ion-grid>
      <ion-row class="game-of-blade">  
          <ion-img width="50%" src="../../assets/logo/logo-small@3x.png"></ion-img>        
      </ion-row>
      <ion-row text-center>  
        <ion-label class="add-players-label bangers">WHO'S PLAYING?</ion-label>       
      </ion-row>
      <ion-row text-center>  
        <ion-label class="tab-below-label bangers"></ion-label>       
      </ion-row>        
      <ion-row class="padding-10">           
          <ion-col *ngIf="player_1_name == ''"col-2 offset-1 class="player-1-icon">              
          </ion-col>  
          <ion-col *ngIf="player_1_name != ''"col-2 offset-1 class="player-1-icon-happy">               
          </ion-col> 
          <ion-col col-7 class="button-border-blue">
              <ion-input type="text" placeholder="Player 1" [(ngModel)]="player_1_name" class="text-input"></ion-input>
          </ion-col>        
      </ion-row>
      <ion-row class="padding-10">            
          <ion-col *ngIf="player_2_name == ''"col-2 offset-1 class="player-2-icon">              
          </ion-col>  
          <ion-col *ngIf="player_2_name != ''"col-2 offset-1 class="player-2-icon-happy">               
          </ion-col> 
          <ion-col col-7 class="button-border-green">
              <ion-input type="text" placeholder="Player 2" [(ngModel)]="player_2_name" class="text-input"></ion-input>
          </ion-col>        
      </ion-row> 
      <ion-row class="padding-10">               
          <ion-col *ngIf="player_3_name == ''"col-2 offset-1 class="player-3-icon">              
          </ion-col>  
          <ion-col *ngIf="player_3_name != ''"col-2 offset-1 class="player-3-icon-happy">               
          </ion-col> 
          <ion-col col-7 class="button-border-orange">
              <ion-input type="text" placeholder="Player 3" [(ngModel)]="player_3_name" class="text-input"></ion-input>
          </ion-col>        
      </ion-row> 
      <ion-row class="padding-10">         
          <ion-col *ngIf="player_4_name == ''"col-2 offset-1 class="player-4-icon">              
          </ion-col>  
          <ion-col *ngIf="player_4_name != ''"col-2 offset-1 class="player-4-icon-happy">               
          </ion-col> 
          <ion-col col-7 class="button-border-pink">
              <ion-input type="text" placeholder="Player 4" [(ngModel)]="player_4_name" class="text-input"></ion-input>
          </ion-col>        
      </ion-row>
      <ion-img  class="next-dif" width="120px" src="../../assets/buttons/small-startBtn@2x.png" (click)="startTrick()"></ion-img> 
    </ion-grid> 
</ion-content>
