.backgroundImage{
    background-image: url('../../assets/ui/pageBg.png');
}

.game-of-blade{
    background: url('../../assets/logo/logo-small.png') no-repeat center center fixed;
    height: 50px;
    border-bottom: 1px solid white;    
}

.add-players-label{
    font-size: 22px;
    color: white;
    padding-top:20px;
}

.tab-below-label{
    font-size: 30px;
    font-family: Bangers;
    color: white;
    font-weight: bold;
}

.player-1-icon{
    background: url('../../assets/emoji/48x48/@1x/blue/zzz.png') no-repeat center center fixed;
}

.player-1-icon-happy{
    background: url('../../assets/emoji/48x48/@1x/blue/happy.png') no-repeat center center fixed;
}

.player-1-icon-pleased{
    background: url('../../assets/emoji/48x48/@1x/blue/pleased.png') no-repeat center center fixed;
}

.player-1-icon-flushed{
    background: url('../../assets/emoji/48x48/@1x/blue/flushed.png') no-repeat center center fixed;
}

.player-1-icon-scared{
    background: url('../../assets/emoji/48x48/@1x/blue/scared.png') no-repeat center center fixed;
}

.player-1-icon-cry{
    background: url('../../assets/emoji/48x48/@1x/blue/cry.png') no-repeat center center fixed;
}

.player-1-icon-shocked{
    background: url('../../assets/emoji/48x48/@1x/blue/shocked.png') no-repeat center center fixed;
}

.player-2-icon{
    background: url('../../assets/emoji/48x48/@1x/green/zzz.png') no-repeat center center fixed;
}

.player-2-icon-happy{
    background: url('../../assets/emoji/48x48/@1x/green/happy.png') no-repeat center center fixed;
}

.player-2-icon-pleased{
    background: url('../../assets/emoji/48x48/@1x/blue/pleased.png') no-repeat center center fixed;
}

.player-2-icon-flushed{
    background: url('../../assets/emoji/48x48/@1x/blue/flushed.png') no-repeat center center fixed;
}

.player-2-icon-scared{
    background: url('../../assets/emoji/48x48/@1x/blue/scared.png') no-repeat center center fixed;
}

.player-2-icon-cry{
    background: url('../../assets/emoji/48x48/@1x/blue/cry.png') no-repeat center center fixed;
}

.player-2-icon-shocked{
    background: url('../../assets/emoji/48x48/@1x/blue/shocked.png') no-repeat center center fixed;
}

.player-3-icon{
    background: url('../../assets/emoji/48x48/@1x/yellow/zzz.png') no-repeat center center fixed;
}

.player-3-icon-happy{
    background: url('../../assets/emoji/48x48/@1x/yellow/happy.png') no-repeat center center fixed;
}

.player-3-icon-pleased{
    background: url('../../assets/emoji/48x48/@1x/blue/pleased.png') no-repeat center center fixed;
}

.player-3-icon-flushed{
    background: url('../../assets/emoji/48x48/@1x/blue/flushed.png') no-repeat center center fixed;
}

.player-3-icon-scared{
    background: url('../../assets/emoji/48x48/@1x/blue/scared.png') no-repeat center center fixed;
}

.player-3-icon-cry{
    background: url('../../assets/emoji/48x48/@1x/blue/cry.png') no-repeat center center fixed;
}

.player-3-icon-shocked{
    background: url('../../assets/emoji/48x48/@1x/blue/shocked.png') no-repeat center center fixed;
}

.player-4-icon{
    background: url('../../assets/emoji/48x48/@1x/red/zzz.png') no-repeat center center fixed;
}

.player-4-icon-happy{
    background: url('../../assets/emoji/48x48/@1x/red/happy.png') no-repeat center center fixed;
}

.player-4-icon-pleased{
    background: url('../../assets/emoji/48x48/@1x/red/pleased.png') no-repeat center center fixed;
}

.player-4-icon-flushed{
    background: url('../../assets/emoji/48x48/@1x/red/flushed.png') no-repeat center center fixed;
}

.player-4-icon-scared{
    background: url('../../assets/emoji/48x48/@1x/red/scared.png') no-repeat center center fixed;
}

.player-4-icon-cry{
    background: url('../../assets/emoji/48x48/@1x/red/cry.png') no-repeat center center fixed;
}

.player-4-icon-shocked{
    background: url('../../assets/emoji/48x48/@1x/red/shocked.png') no-repeat center center fixed;
}

.player-4-icon-selected{
    background: url('../../assets/emoji/48x48/@1x/red/happy.png') no-repeat center center fixed;
}

.player-1-icon-happy-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/happy@2x.png') no-repeat center center fixed;
}

.player-1-icon-pleased-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/pleased@2x.png') no-repeat center center fixed;
}

.player-1-icon-flushed-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/flushed@2x.png') no-repeat center center fixed;
}

.player-1-icon-scared-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/scared@2x.png') no-repeat center center fixed;
}

.player-1-icon-cry-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/cry@2x.png') no-repeat center center fixed;
}

.player-1-icon-shocked-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/shocked@2x.png') no-repeat center center fixed;
}

.player-2-icon-2x{
    background: url('../../assets/emoji/48x48/@2x/green/zzz@2xpng') no-repeat center center fixed;
}

.player-2-icon-happy-2x{
    background: url('../../assets/emoji/48x48/@2x/green/happy@2x.png') no-repeat center center fixed;
}

.player-2-icon-pleased-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/pleased@2x.png') no-repeat center center fixed;
}

.player-2-icon-flushed-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/flushed@2x.png') no-repeat center center fixed;
}

.player-2-icon-scared-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/scared@2x.png') no-repeat center center fixed;
}

.player-2-icon-cry-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/cry@2x.png') no-repeat center center fixed;
}

.player-2-icon-shocked-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/shocked@2x.png') no-repeat center center fixed;
}

.player-3-icon-2x{
    background: url('../../assets/emoji/48x48/@2x/yellow/zzz@2x.png') no-repeat center center fixed;
}

.player-3-icon-happy-2x{
    background: url('../../assets/emoji/48x48/@2x/yellow/happy@2x.png') no-repeat center center fixed;
}

.player-3-icon-pleased-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/pleased@2x.png') no-repeat center center fixed;
}

.player-3-icon-flushed-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/flushed@2x.png') no-repeat center center fixed;
}

.player-3-icon-scared-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/scared@2x.png') no-repeat center center fixed;
}

.player-3-icon-cry-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/cry@2x.png') no-repeat center center fixed;
}

.player-3-icon-shocked-2x{
    background: url('../../assets/emoji/48x48/@2x/blue/shocked@2x.png') no-repeat center center fixed;
}

.player-4-icon-2x{
    background: url('../../assets/emoji/48x48/@2x/red/zzz@2x.png') no-repeat center center fixed;
}

.player-4-icon-happy-2x{
    background: url('../../assets/emoji/48x48/@2x/red/happy@2x.png') no-repeat center center fixed;
}

.player-4-icon-pleased-2x{
    background: url('../../assets/emoji/48x48/@2x/red/pleased@2x.png') no-repeat center center fixed;
}

.player-4-icon-flushed-2x{
    background: url('../../assets/emoji/48x48/@2x/red/flushed@2x.png') no-repeat center center fixed;
}

.player-4-icon-scared-2x{
    background: url('../../assets/emoji/48x48/@2x/red/scared@2x.png') no-repeat center center fixed;
}

.player-4-icon-cry-2x{
    background: url('../../assets/emoji/48x48/@2x/red/cry@2x.png') no-repeat center center fixed;
}

.player-4-icon-shocked-2x{
    background: url('../../assets/emoji/48x48/@2x/red/shocked@2x.png') no-repeat center center fixed;
}

.player-4-icon-selected-2x{
    background: url('../../assets/emoji/48x48/@2x/red/happy@2x.png') no-repeat center center fixed;
}

.button-border-blue{
    border-bottom: 2px solid #007FFF;   
}

.button-border-green{
    border-bottom: 2px solid #24CC89;   
}

.button-border-orange{
    border-bottom: 2px solid #FFBE0B;   
}

.button-border-pink{
    border-bottom: 2px solid #FF006E;   
}

.padding-10{
    padding-top:10px;
}

.next{
    background: url('../../assets/buttons/small-nextBtn.png') no-repeat center center fixed;
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    height: 50px;
}




