.backgroundImage{
    background-image: url('../../assets/ui/pageBg.png');
}

.background-transparent{
    opacity: 0.1;   
    height: 100px;
}

.font-tittle{
    color: black;    
    font-size: 25px;
    padding-top: 20px;  
}

.font-subtittle{
    color: black;
    font-size: 18px;
    padding-top: 20px;
    font-weight: bold;
}

.next{
    background: url('../../assets/buttons/small-startBtn.png') no-repeat center center;
    left: 0;
    bottom: 10px;
    right: 0;
    height: 50px;
}

.back{
    background: url('../../assets/buttons/backBtn.png') no-repeat center center;
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 10;
    height: 50px;
    opacity:1;   
}

.selected{
    opacity: 1;   
}

.set-difficult-label{
    font-size: 32px;
    color: white;
    padding-top:20px;
}

.padding-top-bottom-5{
    padding-top:5px;
    padding-bottom: 5px;
}

.padding-top-bottom-15{
    padding-top:15px;
    padding-bottom: 15px;
}





