

.turn-label{
    font-size: 14px;
    font-family: Bangers;
    color: white;
    padding-top:0px;
}


.status-0{
    background: url('../../assets/ui/small-blade-0.png') no-repeat center center;
    height: 70px;
}

.status-1{
    background: url('../../assets/ui/small-blade-1.png') no-repeat center center;
    height: 70px;
}

.status-2{
    background: url('../../assets/ui/small-blade-2.png') no-repeat center center;
    height: 70px;
}

.status-3{
    background: url('../../assets/ui/small-blade-3.png') no-repeat center center;
    height: 70px;
}

.status-4{
    background: url('../../assets/ui/small-blade-4.png') no-repeat center center;
    height: 70px;
}

.status-5{
    background: url('../../assets/ui/small-blade-5.png') no-repeat center center;
    height: 70px;
}

.next-round{
    background: url('../../assets/buttons/next round button/GoB/form/button 0px disabled.png') no-repeat center center;
    height: 50px;
}

.got-it{
    background: url('../../assets/buttons/short-yayBtn.png') no-repeat center center;
    height: 50px;
}


.turn-trick-capsule{
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: rgba($color: #800080, $alpha: 0.2);
    bottom: 0;
    font-size: 28px;
    font-family: Bangers;
    color: white;
    text-align: center;
   
}

.turn-trick{
    font-size: 28px;
    font-family: Bangers;
    color: white;
    text-align: center;
    width: 100%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;
    opacity: 1;
    word-break: break-all !important;
    font-weight: bold;
    white-space: normal !important;   
}

.turn-information{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 30vh;
}

.turn-information-name{
    padding-top: 3vh;
    overflow: hidden;
    width: 60vh;
}


.player-name{
    font-size: 28px;
    font-family: Bangers;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-left: 3vh;
    text-overflow: ellipsis; 
    white-space: nowrap;
}