<ion-content padding class="backgroundImage">
    <ion-grid>
      <ion-row>   
        <ion-label class="turn-label" col-3>ROUND {{turn}}</ion-label>     
        <ion-col *ngIf="player_1_status == 'undefined' || player_1_status==null"col-2 class="p-1-icon">       
        </ion-col>    
        <ion-col *ngIf="player_1_status == 0"col-2 class="p-1-icon-happy">       
        </ion-col>   
        <ion-col *ngIf="player_1_status == 1"col-2 class="p-1-icon-pleased">         
        </ion-col> 
        <ion-col *ngIf="player_1_status == 2"col-2 class="p-1-icon-flushed">         
        </ion-col> 
        <ion-col *ngIf="player_1_status== 3"col-2 class="p-1-icon-scared">         
        </ion-col> 
        <ion-col *ngIf="player_1_status == 4"col-2 class="p-1-icon-cry">         
        </ion-col> 
        <ion-col *ngIf="player_1_status == 5"col-2 class="p-1-icon-shocked">         
        </ion-col> 

        <ion-col *ngIf="player_2_status == 'undefined' || player_2_status==null"col-2 class="p-2-icon">       
        </ion-col>    
        <ion-col *ngIf="player_2_status == 0"col-2 class="p-2-icon-happy">       
        </ion-col>   
        <ion-col *ngIf="player_2_status == 1"col-2 class="p-2-icon-pleased">         
        </ion-col> 
        <ion-col *ngIf="player_2_status == 2"col-2 class="p-2-icon-flushed">         
        </ion-col> 
        <ion-col *ngIf="player_2_status == 3"col-2 class="p-2-icon-scared">         
        </ion-col> 
        <ion-col *ngIf="player_2_status == 4"col-2 class="p-2-icon-cry">         
        </ion-col> 
        <ion-col *ngIf="player_2_status == 5"col-2 class="p-2-icon-shocked">         
        </ion-col> 

        <ion-col *ngIf="player_3_status == 'undefined' || player_3_status==null"col-2 class="p-3-icon">       
        </ion-col>    
        <ion-col *ngIf="player_3_status == 0"col-2 class="p-3-icon-happy">       
        </ion-col>   
        <ion-col *ngIf="player_3_status == 1"col-2 class="p-3-icon-pleased">         
        </ion-col> 
        <ion-col *ngIf="player_3_status== 2"col-2 class="p-3-icon-flushed">         
        </ion-col> 
        <ion-col *ngIf="player_3_status == 3"col-2 class="p-3-icon-scared">         
        </ion-col> 
        <ion-col *ngIf="player_3_status == 4"col-2 class="p-3-icon-cry">         
        </ion-col> 
        <ion-col *ngIf="player_3_status== 5"col-2 class="p-3-icon-shocked">         
        </ion-col> 

        <ion-col *ngIf="player_4_status == 'undefined' || player_4_status==null"col-2 class="p-4-icon">       
        </ion-col>    
        <ion-col *ngIf="player_4_status == 0"col-2 class="p-4-icon-happy">       
        </ion-col>   
        <ion-col *ngIf="player_4_status == 1"col-2 class="p-4-icon-pleased">         
        </ion-col> 
        <ion-col *ngIf="player_4_status == 2"col-2 class="p-4-icon-flushed">         
        </ion-col> 
        <ion-col *ngIf="player_4_status == 3"col-2 class="p-4-icon-scared">         
        </ion-col> 
        <ion-col *ngIf="player_4_status == 4"col-2 class="p-4-icon-cry">         
        </ion-col> 
        <ion-col *ngIf="player_4_status == 5"col-2 class="p-4-icon-shocked">         
        </ion-col> 
      </ion-row>   
      <ion-row class="turn-information"> 
          <ion-col *ngIf="this.actual_player == 0 && player_1_status == 0"col-4 class="player-1-icon-happy-2x"></ion-col>   
          <ion-col *ngIf="this.actual_player == 0 && player_1_status == 1"col-4 class="player-1-icon-pleased-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 0 && player_1_status == 2"col-4 class="player-1-icon-flushed-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 0 && player_1_status == 3"col-4 class="player-1-icon-scared-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 0 && player_1_status == 4"col-4 class="player-1-icon-cry-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 0 && player_1_status == 5"col-4 class="player-1-icon-shocked-2x"></ion-col> 
      
          <ion-col *ngIf="this.actual_player == 1 && player_2_status == 0"col-4 class="player-2-icon-happy-2x"></ion-col>   
          <ion-col *ngIf="this.actual_player == 1 && player_2_status == 1"col-4 class="player-2-icon-pleased-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 1 && player_2_status == 2"col-4 class="player-2-icon-flushed-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 1 && player_2_status == 3"col-4 class="player-2-icon-scared-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 1 && player_2_status == 4"col-4 class="player-2-icon-cry-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 1 && player_2_status == 5"col-4 class="player-2-icon-shocked-2x"></ion-col> 
    
          <ion-col *ngIf="this.actual_player == 2 && player_3_status == 0"col-4 class="player-3-icon-happy-2x"></ion-col>   
          <ion-col *ngIf="this.actual_player == 2 && player_3_status == 1"col-4 class="player-3-icon-pleased-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 2 && player_3_status == 2"col-4 class="player-3-icon-flushed-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 2 && player_3_status == 3"col-4 class="player-3-icon-scared-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 2 && player_3_status == 4"col-4 class="player-3-icon-cry-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 2 && player_3_status == 5"col-4 class="player-3-icon-shocked-2x"></ion-col> 
      
          <ion-col *ngIf="this.actual_player == 3 && player_4_status == 0"col-4 class="player-4-icon-happy-2x"></ion-col>   
          <ion-col *ngIf="this.actual_player == 3 && player_4_status == 1"col-4 class="player-4-icon-pleased-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 3 && player_4_status == 2"col-4 class="player-4-icon-flushed-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 3 && player_4_status == 3"col-4 class="player-4-icon-scared-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 3 && player_4_status == 4"col-4 class="player-4-icon-cry-2x"></ion-col> 
          <ion-col *ngIf="this.actual_player == 3 && player_4_status == 5"col-4 class="player-4-icon-shocked-2x"></ion-col>  

          <ion-col>
            <ion-row>
                <a center class="player-name">{{player_turn.name}}</a>
            </ion-row>
            <ion-row center full *ngIf="player_turn.status == 0" class="status-0"></ion-row>
            <ion-row center full *ngIf="player_turn.status == 1" class="status-1"></ion-row>
            <ion-row center full *ngIf="player_turn.status == 2" class="status-2"></ion-row>
            <ion-row center full *ngIf="player_turn.status == 3" class="status-3"></ion-row>
            <ion-row center full *ngIf="player_turn.status == 4" class="status-4"></ion-row>
            <ion-row center full *ngIf="player_turn.status == 5" class="status-5"></ion-row>
          </ion-col>       
      </ion-row>
      <ion-row class="turn-trick-capsule" >
        <ion-label center class="turn-trick">{{trick}}</ion-label>
      </ion-row>
      <ion-row class="padding-botton">           
        <ion-col col-6>
          <button ion-button danger full (click)="failTrick()" class="fail-trick" ></button>  
        </ion-col> 
        <ion-col col-6>
          <button ion-button secondary full (click)="gotTrick()" class="got-it" ></button>  
        </ion-col>
      </ion-row>        
    </ion-grid>      
</ion-content>
