.red-background{
    background-color:#C31F2C;
}

.sad{
    background: url('../../assets/ui/reaction-sad@2x.png') no-repeat center center fixed;
    height: 250px;
    padding-top: 300px;
}

.gotit-name{
    font-size: 32px;
    color: white;   
}

.status-0-gotit{
    background: url('../../assets/ui/blade-0.png') no-repeat center center fixed;
    height: 170px;
}

.status-1-gotit{
    background: url('../../assets/ui/blade-1.png') no-repeat center center fixed;
    height: 170px;
}

.status-2-gotit{
    background: url('../../assets/ui/blade-2.png') no-repeat center center fixed;
    height: 170px;
}

.status-3-gotit{
    background: url('../../assets/ui/blade-3.png') no-repeat center center fixed;
    height: 170px;
}

.status-4-gotit{
    background: url('../../assets/ui/blade-4.png') no-repeat center center fixed;
    height: 170px;
}

.status-5-gotit{
    background: url('../../assets/ui/blade-5.png') no-repeat center center fixed;
    height: 170px;
}

