.backgroundImage{
    background-image: url('../../assets/ui/pageBg.png');
}

.logo{
    background: url('../../assets/logo/logo-big-bltv.png') no-repeat center center fixed;
    height: 60vh;
}

.startgame{
    background: url('../../assets/buttons/fullwidth-startBtn.png') no-repeat center center;
    height: 50px;
}

.share{
    background: url('../../assets/buttons/fullwidth-shareBtn.png') no-repeat center center;
    height: 50px;
}

.how{
    background: url('../../assets/buttons/fullwidth-howtoBtn.png') no-repeat center center fixed;
    height: 50px;
}

.padding-botton{
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}
