// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face{
    font-family: "Bangers";
    font-style: semi-bold;
    src: url(../assets/fonts/FeVQS0BTqb0h60ACH5FQ2Ixi.woff2);
}


$font-family-base: "Bangers";
body {
    font-family: "Bangers" !important;
}


.p-1-icon{
    background: url('../../assets/emoji/48x48/@1x/blue/zzz.png') no-repeat center center;
    width: 20px;
}

.p-1-icon-happy{
    background: url('../../assets/emoji/48x48/@1x/blue/happy.png') no-repeat center center;
    width: 20px;
}

.p-1-icon-pleased{
    background: url('../../assets/emoji/48x48/@1x/blue/pleased.png') no-repeat center center;
    width: 20px;
}

.p-1-icon-flushed{
    background: url('../../assets/emoji/48x48/@1x/blue/flushed.png') no-repeat center center;
    width: 20px;
}

.p-1-icon-scared{
    background: url('../../assets/emoji/48x48/@1x/blue/scared.png') no-repeat center center;
    width: 20px;
}

.p-1-icon-cry{
    background: url('../../assets/emoji/48x48/@1x/blue/cry.png') no-repeat center center;
    width: 20px;
}

.p-1-icon-shocked{
    background: url('../../assets/emoji/48x48/@1x/blue/shocked.png') no-repeat center center;
    width: 20px;
}

.p-2-icon{
    background: url('../../assets/emoji/48x48/@1x/green/zzz.png') no-repeat center center;
    width: 20px;
}

.p-2-icon-happy{
    background: url('../../assets/emoji/48x48/@1x/green/happy.png') no-repeat center center;
    width: 20px;
}

.p-2-icon-pleased{
    background: url('../../assets/emoji/48x48/@1x/green/pleased.png') no-repeat center center;
    width: 20px;
}

.p-2-icon-flushed{
    background: url('../../assets/emoji/48x48/@1x/green/flushed.png') no-repeat center center;
    width: 20px;
}

.p-2-icon-scared{
    background: url('../../assets/emoji/48x48/@1x/green/scared.png') no-repeat center center;
    width: 20px;
}

.p-2-icon-cry{
    background: url('../../assets/emoji/48x48/@1x/green/cry.png') no-repeat center center;
    width: 20px;
}

.p-2-icon-shocked{
    background: url('../../assets/emoji/48x48/@1x/green/shocked.png') no-repeat center center;
    width: 20px;
}

.p-3-icon{
    background: url('../../assets/emoji/48x48/@1x/yellow/zzz.png') no-repeat center center;
    width: 20px;
}

.p-3-icon-happy{
    background: url('../../assets/emoji/48x48/@1x/yellow/happy.png') no-repeat center center;
    width: 20px;
}

.p-3-icon-pleased{
    background: url('../../assets/emoji/48x48/@1x/yellow/pleased.png') no-repeat center center;
    width: 20px;
}

.p-3-icon-flushed{
    background: url('../../assets/emoji/48x48/@1x/yellow/flushed.png') no-repeat center center;
    width: 20px;
}

.p-3-icon-scared{
    background: url('../../assets/emoji/48x48/@1x/yellow/scared.png') no-repeat center center;
    width: 20px;
}

.p-3-icon-cry{
    background: url('../../assets/emoji/48x48/@1x/yellow/cry.png') no-repeat center center;
    width: 20px;
}

.p-3-icon-shocked{
    background: url('../../assets/emoji/48x48/@1x/yellow/shocked.png') no-repeat center center;
    width: 20px;
}

.p-4-icon{
    background: url('../../assets/emoji/48x48/@1x/red/zzz.png') no-repeat center center;
    width: 20px;
}

.p-4-icon-happy{
    background: url('../../assets/emoji/48x48/@1x/red/happy.png') no-repeat center center;
    width: 20px;
}

.p-4-icon-pleased{
    background: url('../../assets/emoji/48x48/@1x/red/pleased.png') no-repeat center center;
    width: 20px;
}

.p-4-icon-flushed{
    background: url('../../assets/emoji/48x48/@1x/red/flushed.png') no-repeat center center;
    width: 20px;
}

.p-4-icon-scared{
    background: url('../../assets/emoji/48x48/@1x/red/scared.png') no-repeat center center;
    width: 20px;
}

.p-4-icon-cry{
    background: url('../../assets/emoji/48x48/@1x/red/cry.png') no-repeat center center;
    width: 20px;
}

.p-4-icon-shocked{
    background: url('../../assets/emoji/48x48/@1x/red/shocked.png') no-repeat center center;
    width: 20px;
}

.p-4-icon-selected{
    background: url('../../assets/emoji/48x48/@1x/red/happy.png') no-repeat center center;
    width: 20px;
}

.game-of-blade{
    background: url('../../assets/logo/logo-small.png') no-repeat center center;
    height: 50px;
    border-bottom: 1px solid white;    
}