.logo-gameover{
    background: url('../../assets/logo/logo-big-bltv.png') no-repeat center center fixed;
    height: 150px;
}

.winner-label{
    font-size: 40px;
    font-family: Bangers;
    color: white;
    font-weight: bold;
}

.backgroundImageGameOver{
    background-image: url('../../assets/ui/pageBg-endOfGame.png');
}
