.round-label{
    font-size: 22px;
    font-family: Bangers;
    color: white;
    padding-top:0px;
}

.generate-tricks-button-1{
    background: url('../../assets/buttons/generate btn.png') no-repeat center center fixed, url('../../assets/buttons/generateBtn-border-1.png') no-repeat center center fixed;
    height: 300px;
}

.generate-tricks-button-2{
    background: url('../../assets/buttons/generate btn.png') no-repeat center center fixed, url('../../assets/buttons/generateBtn-border-2.png') no-repeat center center fixed;
    height: 300px;
}

.generate-tricks-button-3{
    background: url('../../assets/buttons/generate btn.png') no-repeat center center fixed, url('../../assets/buttons/generateBtn-border-3.png') no-repeat center center fixed;
    height: 300px;
}

.generate-tricks-button-4{
    background: url('../../assets/buttons/generateBtn-disabled.png') no-repeat center center fixed, url('../../assets/buttons/generateBtn-border-0.png') no-repeat center center fixed;
    height: 300px;
}

.set-trick{
    background: url('../../assets/buttons/fullwidth-setTrick.png') no-repeat center center fixed;
    height: 50px;
}


.turn-label{
    font-size: 14px;
    font-family: Bangers;
    color: white;
    padding-top:0px;
}

.padding-50{
    padding-top: 50px;
}

.padding-25{
    padding-top: 25px;
}

.tab-below-label{
    font-size: 40px;
    font-family: Bangers;
    color: white;
    font-weight: bold;
}

.instructions-below-label{
    font-size: 16px;
    font-family: Bangers;
    color: white;
}


