.round-label{
    font-size: 22px;
    font-family: Bangers;
    color: white;
    padding-top:0px;
}

.generate-tricks-button-1{
    background: url('../../assets/buttons/generate btn.png') no-repeat center center , url('../../assets/buttons/generateBtn-border-1.png') no-repeat center center ;
    height: 270px;
    position: fixed;
    width: 92%;
    bottom: 65px;
    left: 16px;
    right: 16px;
}

.generate-tricks-button-2{
    background: url('../../assets/buttons/generate btn.png') no-repeat center center , url('../../assets/buttons/generateBtn-border-2.png') no-repeat center center ;
    height: 270px;
    position: fixed;
    width: 92%;
    bottom: 65px;
    left: 16px;
    right: 16px;
}

.generate-tricks-button-3{
    background: url('../../assets/buttons/generate btn.png') no-repeat center center , url('../../assets/buttons/generateBtn-border-3.png') no-repeat center center ;
    height: 270px;
    position: fixed;
    width: 92%;
    bottom: 65px;
    left: 16px;
    right: 16px;
}

.generate-tricks-button-4{
    background: url('../../assets/buttons/generateBtn-disabled.png') no-repeat center center , url('../../assets/buttons/generateBtn-border-0.png') no-repeat center center ;
    height: 270px;
    position: fixed;
    width: 92%;
    bottom: 65px;
    left: 16px;
    right: 16px;
}

.set-trick{
    background: url('../../assets/buttons/fullwidth-setTrick@3x.png') no-repeat center center;
    position: fixed;
    width: 93%;
    height: 50px;
    bottom: 10px;
    background-size: 100%;
    height: 50px;
    border-radius: 8px;
}


.turn-label{
    font-size: 14px;
    font-family: Bangers;
    color: white;
    padding-top:0px;
}

.padding-50{
    padding-top: 50px;
}

.padding-25{
    padding-top: 25px;
}

.padding-40{
    padding-top: 40px;
}

.instructions-below-label{
    font-size: 18px;
    font-family: Bangers;
    color: white;
    font-weight: bold;
    white-space: normal !important;
    word-wrap:  normal !important;
}

.trick-tab-below-label{
    font-size: 36px;
    font-family: Bangers;
    color: white;
    font-weight: bold;
    white-space: normal !important;
    word-wrap:  normal !important;
}

.tab-below-label-tricks{
    font-size: 36px;
    font-family: Bangers;
    color: white;
}

.icon-playr-top{
    width: 22px !important;
}

.container img{
    width: 30px;
}