<ion-header>
  <ion-navbar hideBackButton >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Game Of Blade</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col *ngIf="game_conf.player_1 != ''" col-3>
            <ion-icon ios="logo-apple" md="logo-android"></ion-icon>
            <ion-label>{{game_conf.player_1}}</ion-label>
          </ion-col>
          <ion-col *ngIf="game_conf.player_2 != ''" col-3>
            <ion-icon ios="logo-apple" md="logo-android"></ion-icon>
            <ion-label>{{game_conf.player_2}}</ion-label>
          </ion-col>
          <ion-col *ngIf="game_conf.player_3 != ''" col-3>
            <ion-icon ios="logo-apple" md="logo-android"></ion-icon>
            <ion-label>{{game_conf.player_3}}</ion-label>
          </ion-col>
          <ion-col *ngIf="game_conf.player_4 != ''" col-3>
            <ion-icon ios="logo-apple" md="logo-android"></ion-icon>
            <ion-label>{{game_conf.player_4}}</ion-label>
          </ion-col>
        </ion-row>        
        <ion-row>
          <button ion-button secondary (click)="changeTrick()" [disabled]="trials == 3" full>Tap For a Trick</button>   
        </ion-row>
        <ion-row> 
          <ion-label center>{{trick}}</ion-label>
        </ion-row>        
    </ion-grid>  
    <button ion-button secondary full (click)="startGame()">Start Turn</button>   
    <button ion-button secondary full (click)="cancelGame()">Back</button>   
</ion-content>
