.round-label{
    font-size: 22px;
    color: white;
    padding-top:0px;
}

.generate-tricks-button{
    background: url('../../assets/buttons/generate btn.png') no-repeat center center fixed;
    height: 350px;
}

.set-trick{
    background: url('../../assets/buttons/fullwidth-startBtn.png') no-repeat center center fixed;
    height: 50px;
}