.p00b{
    background: url('../../assets/emoji/48x48/@3x/blue/happy@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p01b{
    background: url('../../assets/emoji/48x48/@3x/blue/pleased@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p02b{
    background: url('../../assets/emoji/48x48/@3x/blue/flushed@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p03b{
    background: url('../../assets/emoji/48x48/@3x/blue/scared@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p04b{
    background: url('../../assets/emoji/48x48/@3x/blue/cry@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p10b{
    background: url('../../assets/emoji/48x48/@3x/green/happy@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p11b{
    background: url('../../assets/emoji/48x48/@3x/green/pleased@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p12b{
    background: url('../../assets/emoji/48x48/@3x/green/flushed@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p13b{
    background: url('../../assets/emoji/48x48/@3x/green/scared@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p14b{
    background: url('../../assets/emoji/48x48/@3x/green/cry@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p20b{
    background: url('../../assets/emoji/48x48/@3x/yellow/happy@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p21b{
    background: url('../../assets/emoji/48x48/@3x/yellow/pleased@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p22b{
    background: url('../../assets/emoji/48x48/@3x/yellow/flushed@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p23b{
    background: url('../../assets/emoji/48x48/@3x/yellow/scared@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p24b{
    background: url('../../assets/emoji/48x48/@3x/yellow/cry@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p30b{
    background: url('../../assets/emoji/48x48/@3x/red/happy@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p31b{
    background: url('../../assets/emoji/48x48/@3x/red/pleased@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p32b{
    background: url('../../assets/emoji/48x48/@3x/red/flushed@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p33b{
    background: url('../../assets/emoji/48x48/@3x/red/scared@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.p34b{
    background: url('../../assets/emoji/48x48/@3x/red/cry@3x.png') no-repeat center center fixed;
    height: 20vh;     
}

.player-name-turn{
    font-size: 40px;
    font-family: Bangers;
    color: white;
}

.tab-to-continue{
    color: white;
    font-size: 22px;
    padding-top: 80px;
}

